.container
{
    display: flex;
    justify-content: center;
}

.div-central
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(195, 154, 234);
    margin-right: 20px;
    padding: 5px;
}

.div
{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 350px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

img{
    display: block;
    margin: 0 auto;
}

textarea{
    resize: none;
    border: 3px solid rgb(230, 160, 238);
}

h1{
    text-align: center;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid rgb(230, 160, 238);    
    width: 200px;
}